.team {
  margin: 5px 10px;
}
.navbar-default {
    background-color: #1266AB;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover {
    color: #7EB1DC;
    background-color: transparent;
}
.submitBtn {
    color: #fff;
    background-color: #FFAC3A;
    border-color: #FFBB5F;
}
.submitBtn:hover {
    color: #fff;
    background-color: #FF980B;
    border-color: #CA7500;
}
